@import url('https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@300&display=swap');

body {
  /* COLORS */
  --black: #121629;
  --yellow: #efdc4f;
  --white: #fffffe;
  --green: #f3cf80;
  --red: #ff5470;
  --blue: #b8c1ec;
  --blueRGB: 184, 193, 236;
  --darkBlue: #232946;
  --grey: #eebbc3;
  /* INTENTIONS */
  --primary: var(--blue);
  --background: var(--darkblue);
  --javaScriptYellow: var(--yellow);
  --paragraph: var(--blue);
  --buttonColor: var(--green);
  --buttonTextColor: var(--black);
  --headline: var(--white);
  --danger: var(--red);
  --cardBg: var(--blue);
  --lineColor: var(--grey);
  /* Type */
  --headingFont: Chicago, Lora, serif;
  --bodyFont: Chicago, Ubuntu, sans-serif;
  --baseFontSize: 112.5%;
  /* Styles */
  --line: solid 1px var(--lineColor);
  /* 18px */
  --h1: 3.052rem;
  --h2: 2.441rem;
  --h3: 1.953rem;
  --h4: 1.563rem;
  --h5: 1.25rem;
  --h6: 1rem;
  --smallText: 0.8rem;
  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* Positioning */
  --containerPadding: 2.5%;
  --headerHeight: 3rem;
  --borderRadius: 10px;

  background-color: var(--darkBlue);
  background-image: url('/Homepage.webp');
  font-family: var(--bodyFont);
  color: var(--white);
}

/* Type Scale */
html {
  font-size: var(--baseFontSize);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  height: var(--headerHeight);
  width: 100%;
  z-index: 2;
  padding: 0 var(--containerPadding);
  background-color: var(--black);
  box-shadow: var(--level-3);

  nav {
    display: flex;
    align-items: center;
    a {
      color: white;
      text-decoration: none;
      + a {
        margin-left: 20px;
      }
    }
  }
}

/* For loop going through varying header sizes */
@for $i from 1 through 6 {
  h#{$i} {
    font-size: var(--h#{$i});
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.15;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

div > a {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(180deg, transparent 70%, var(--blue) 0);
}

footer {
  position: absolute;
  background-color: var(--black);
  box-shadow: var(--level-3);
  height: 3rem;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: Chicago;
}

h1 code {
  font-size: 8rem;
}

/* End type scale */

blockquote {
  margin: 10px;
  padding: 3rem;
  color: var(--black);
  background: var(--cardBg);
  box-shadow: var(--level-3);
}

label {
  display: block;
  font-size: var(--smallText);
}

input,
textarea {
  margin: 10px 0px;
  padding: 4px 5px;
  border: var(--line);
  border-radius: 4px;
}

textarea {
  width: 100%;
  height: 5rem;
}

::placeholder {
  color: var(--grey);
}

select {
  border: var(--line);
}

hr {
  border-top: var(--line);
}

button {
  appearance: none;
  color: var(--buttonTextColor);
  background-color: var(--buttonColor);
  margin: 10px 0px;
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  box-shadow: var(--level-1);
  transition: 0.3s ease-in-out box-shadow;
}

button:hover {
  box-shadow: var(--level-2);
}

button[disabled] {
  opacity: 0.4;
}

/* .cancel can mean anything */
button.cancel {
  --buttonColor: var(--danger);
  --buttonTextColor: white;
}
button.small {
  font-size: var(--smallText);
}

/* Page layout classes */
.contentWrapper {
  padding-bottom: 3rem;
}
.pageContainer {
  position: relative;
  min-height: 100vh;
}
.layout {
  padding: 0 2.5%;
}

/* Specialty classes */
.card {
  background-color: var(--black);
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: var(--level-3);
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator {
  display: flex;
  align-items: center;
  justify-content: center;
  &::before,
  &::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--white);
  }
  &::before {
    margin-right: 1rem;
  }
  &::after {
    margin-left: 1rem;
  }
}
.splashContainer {
  color: var(--black);
  text-shadow: 8px 1px var(--javaScriptYellow);
  background-image: url('/background.png');
  background-size: 100vw 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.text-shortened {
  width: 79%;
  margin: 10px 0px 0px 10px;
}

/* Dark theme */
.dark {
  --black: #0f0e17;
  --yellow: #ff8906;
  --white: #fffffe;
  --green: #f25f4c;
  --red: #e53170;
  --blue: #3da9fc;
  --darkBlue: #7f5af0;
  --grey: #a7a9be;
}

/*# sourceMappingURL=style.css.map */
